<!DOCTYPE html>
<html>
	<head>
		<%- include(page.headLoc + page.head); %>
	</head>

	<body>
		<%- include(page.hfLoc + page.header); %>
		<%- include(page.contentLoc + page.content); %>
		<%- include(page.hfLoc + page.footer); %>
	</body>
</html>
