<h3>Hello</h3>

<br/>
<br/>

<form action="/user/signup" method="POST">
	<input type=text name=user	placeholder=username />
	
	<input type=text name=pswd	placeholder=password />
	
	<input type=text name=email	placeholder=email />

	<input type=submit text=Signup />
</form>
